// ARCHIVE PRODUCT PAGE
body.woocommerce .page-title {
	display: none;
}
.woocommerce h2, .woocommerce h3 {
    font-family: 'Avenir Next Regular';
    font-weight: normal;
    font-style: normal;   
}
//single product title 
.woocommerce div.product .product_title {
    font-family: 'Avenir Next Demi';
    font-weight: normal;
    font-style: normal;
    font-size: 1.6em;
}
//price color
.woocommerce ul.products li.product .price {
	color: $gray;
}
//product title 
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	color: $gray;
}
// SINGLE PRODUCT PAGE
// price color 
.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: $gray;
}
//in stock
.woocommerce div.product p.stock {
	display: none;
}
//categories
.posted_in {
    font-weight: bold;
    font-style: normal;
}
.posted_in a {
	color: $gray;
	font-weight: normal;
    font-style: normal;
}
//select order
.woocommerce .woocommerce-ordering {
	border: 1px solid $gray;
	background: #FFF;
	padding: 5px;
	display: inline-block;
	width: 100%;
}
.woocommerce .woocommerce-ordering select {
    border: none;
    background-color: transparent;
    color: $gray;
    border-radius: 0px;
    width: 100%;
}
//button
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	font-family: 'Avenir Next Regular';
    font-weight: normal;
    font-style: normal;
	background-color: $gray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    &:hover {
    	background-color: $black;
    }
}
//product single, description
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: normal;
}
//checkout
.woocommerce .col-1, .woocommerce .col-2 { 
    min-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
//cart 
.woocommerce table.shop_table {
    border-radius: 0px;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    border-top: 3px solid $dark;
}
.woocommerce-message::before {
    color: $dark;
}
//cart button
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button, .woocommerce-page .woocommerce-error .button, .woocommerce-page .woocommerce-info .button, .woocommerce-page .woocommerce-message .button {
    float: unset;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
//checkout-form
.form-row {
    display: block;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid $gray;
}
.checkout .woocommerce-checkout h3 {
    margin-top: 20px;
}